/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Background for Body */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /*stop horizontal scroll*/
  background: #fafaf1; /* Very slight greyish background */
  color: #000000;
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

/* Section styles */
.section {
  padding: 6.25em 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: transparent; 
  min-height: 100vh; 
  width: 100%;
  box-sizing: border-box;
}

/* Neon styling */
#neonElement {
  background: linear-gradient(90deg, #00ffff, #ff00ff);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 20px rgba(255, 0, 255, 0.6), 0px 0px 30px rgba(0, 255, 255, 0.8);
  color: #000000;
}

/* Text Colors */
h1, h2, h3, p, a {
  color: #000000;
}

/*Landscape for Small Devices (shold it be in media file???) (This SHOULD remove whitespace around border when in landscape mode - it doesn't currently */
@media (orientation: landscape) and (max-width: 812px) {
  html, body {
    width: 100vw; 
    height: 100vh; 
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Stop horizontal scrolling */
  }

  body {
    background: #fafaf1; /* Very slight greyish background */
  }
}
