/* About Section Styling */
.about-section {
  position: relative;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align the content */
  overflow: hidden;
  text-align: center;
}

.profile-image {
  margin-top: 2em;
  width: 300px;
  height: 300px;
  border-radius: 50%; /* Circular appearance */
  object-fit: cover;
  position: absolute; /* Position the image independently */
  left: 10%; /* Move it to the left of the content */
  transform: translateX(-100%); /* Start off-screen to the left */
  opacity: 0; /* Initially hidden */
  transition: transform 0.6s ease-out, opacity 0.6s ease-out; /* Smooth transition */
}

.profile-image.visible {
  transform: translateX(0); /* Slide to normal position */
  opacity: 1; /* Fade in */
}

/* About Content Container */
.about-content {
  max-width: 600px; /* Control width for readability */
  margin: 0 auto;
  transform: translateX(100%); /* Start off-screen to the right */
  opacity: 0; /* Initially hidden */
  transition: transform 0.6s ease-out, opacity 0.6s ease-out; /* Smooth transition */
}

.about-content.visible {
  transform: translateX(0); /* Slide to normal position */
  opacity: 1; /* Fade in */
}

/* About Title Styling */
.about-title {
  padding-top: 1.2em;
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
  color: #eb2f2f;
}

/* About Description Styling */
.about-description {
  font-size: 1.5em;
  line-height: 1.6;
  color: white;
  margin-top: 0;
  padding-bottom: 2em;
  opacity: 0; /* Initially hidden */
  transform: translateX(100%); /* Start off-screen to the right */
  transition: transform 0.6s ease-out, opacity 0.6s ease-out; /* Smooth transition */
}

.about-description.visible {
  transform: translateX(0); /* Slide to normal position */
  opacity: 1; /* Fade in */
}

/* Download Button Styling */
.download-button {
  position: relative;
  display: inline-block;
  padding: 0.75em 1.5em;
  margin-top: 1.5em;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #eb2f2f;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.6s ease-out;
  overflow: hidden; /* Clip any overflowed elements */
  opacity: 0; /* Initially hidden */
  transform: translateY(100%); /* Start below */
}

.download-button.visible {
  opacity: 1;
  transform: translateY(0); /* Slide to position */
}

/* Glow Effect on Hover */
.download-button:hover {
  background-color: #eb4646; /* Slightly lighter background color */
  box-shadow: 0 0 15px 5px #e75d5d;
}

