.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  z-index: 900; /* Adjusted to ensure it does not overlap the scroller */
  transition: top 0.3s ease-in-out; /* Smooth transition for showing */
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 1.25em;
}

.navbar-links button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links button:hover {
  color: #027e80;
}

/* Active Link Styling */
.active-link {
  color: #027e80; /* Change color to indicate active section */
  font-weight: bold; /* Make the active link bold */
}

/* Hamburger Button */
.hamburger-button {
  display: none;
  font-size: 1.5rem;
  color: #027e80;
  background: none;
  border: none;
  cursor: pointer;
}

/* Full-screen Hamburger Menu */
.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Dark overlay with some transparency */
  z-index: 950; /* Adjusted to be above the navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em; /* Increased gap between links */
  transition: all 0.5s ease-in-out;
}

.fullscreen-menu button {
  color: white; /* Ensure text color is easy to read */
  font-size: 2.5rem; /* Increase font size for better visibility */
  text-align: center; /* Center align the text */
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.fullscreen-menu button:hover {
  color: #027e80; /* Slight color change on hover for effect */
}

/* Full-screen Overlay */
.hamburger-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 940; /* Adjusted to ensure correct stacking order */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.hamburger-overlay.open {
  opacity: 1;
  visibility: visible;
}

