.navbar {
  position: fixed;
  top: 0;
  width: 98.5%;
  background-color: #fafaf1; /* Match global background */
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  z-index: 10;
  transition: top 0.3s ease-in-out;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 1.25em;
}

.navbar-links button {
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.navbar-links button:hover {
  color: #000000;
}

.active-link {
  font-weight: bold;
  color: #000000;
}

.hamburger-button {
  display: none;
  font-size: 1.5rem;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 241, 0.95); /* Match global background with transparency */
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  transition: all 0.5s ease-in-out;
}

.fullscreen-menu button {
  color: #000000;
  font-size: 2.5rem;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.fullscreen-menu button:hover {
  color: #000000;
}

.hamburger-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 241, 0.5); /* Match global background with transparency */
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.hamburger-overlay.open {
  opacity: 1;
  visibility: visible;
}
